<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60af79">  <td>19/01/10 15:58:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGoogleLaunch.CreateWorkOrder()[pri:0, instance:com.bitbucket.Auto.TestGoogleLaunch@bc05a6]">CreateWorkOrder</td> 
  <td>main@13483509</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>19/01/10 15:58:34</td>   <td>3529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestGoogleLaunch.getTestResult()[pri:0, instance:com.bitbucket.Auto.TestGoogleLaunch@bc05a6]">&lt;&lt;getTestResult</td> 
<td>&nbsp;</td>  <td>main@13483509</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>19/01/10 15:58:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestGoogleLaunch.setTestResults()[pri:0, instance:com.bitbucket.Auto.TestGoogleLaunch@bc05a6]">&gt;&gt;setTestResults</td> 
<td>&nbsp;</td>  <td>main@13483509</td>   <td></td> </tr>
</table>
